<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class: "border p-2" %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.textarea :content, class: "border p-2" %>
  </div>

  <div>
    <%= form.label :hit_count, style: "display: block" %>
    <%= form.number_field :hit_count, class: "border p-2" %>
  </div>

  <div class="my-2">
    <%= form.submit class: "bg-blue-500 text-white p-2" %>
  </div>
<% end %>
